img{
	width:50px;
	height:50px;
	filter: invert(100%);
    transition: all 2s;
	cursor: pointer;
	animation: mymove 3s;
	animation-iteration-count: infinite;
    position: relative;
	-webkit-animation:linear infinite alternate;
    -webkit-animation-name: run;
    -webkit-animation-duration: 5s;
}     
section
{
	font-size:23px;
}
@-webkit-keyframes run {
    0% { left: 10%;}
    50%{ left : 90%;}
    100%{ left: 10%;}
}
.btn {
  background-color: #f4511e;
  border: none;
  color: yellow;
  text-align: center;
  font-size: 17px;
  padding: 5px;
  width: 20px;
  transition: all 3.5s;
  cursor: pointer;
  margin: 5px;
}
iframe{
	height:600px;
	width:600px;
}